# Project place file
/Zoner.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

/build/

/.vscode

/sourcemap.json
node_modules

# Roblox Studio temporary or local config files
/_default.project.json

# System or editor junk
.DS_Store
Thumbs.db
